<?php
return [
    'zf_sms' => [
        'adapter' => [
            'type' => \ZfSms\Adapter\SmscAdapter::class,
            'options' => [
                'login' => 'smsclogin',
                'password' => 'smscpassword',
            ],
        ],
    ],
];
